<% @results.each_slice(4) do |results_4| %>
  $("<div class='col-xs-12'></div>").appendTo("#orders")
  <% results_4.each do |index, pic_title_orders| %>
    $("<%= j(render 'admin/partials/fb_orders', pic_title_orders: pic_title_orders) %>").appendTo("#orders .col-xs-12:last-child")
  <% end %>
<% end %>