<div class="row">
  <div class="col-xs-12 block-title">網友都在問</div>
</div>
<div id="ad-main" class="row">
  <div id="ad-products" class="col-xs-9">
    <%= render partial: "products/hot_products", hot_products: @hot_products %>
  </div>
  <div id="ad-event" class="col-xs-3" style="background-image: url('https://unsplash.it/400?image=668'); background-size: cover;">
  </div>
</div>