<div class="row">
  <div class="col-xs-12 block-title">網友都在問</div>
</div>
<div id="ad-main" class="row">
  <div id="ad-products" class="col-sm-9">
    <%= render partial: "products/hot_products", hot_products: @hot_products %>
  </div>
  <div id="ad-event" class="col-sm-3">
    <%= image_tag 'https://unsplash.it/400?image=668' %>
  </div>
</div>