<% link_to root_path, class: "btn contact_us" do %>
  <i class="glyphicon glyphicon-question-sign"></i>
  
<% end %>
<a href="#" onclick="send()">聯絡板板</a>
<script type="text/javascript">
  function send() {
    FB.ui({
      method: 'send',
      link: 'https://jpking.herokuapp.com',
      to: 'jpp888'
    }, function(response) {});
  }
</script>