<%= link_to "https://www.messenger.com/t/jpp888/", class: "btn contact_us", target: "_blank" do %>
  <i class="glyphicon glyphicon-question-sign"></i>
  聯絡板板
<% end %>
<!-- <a href="#" onclick="send()">聯絡板板</a>
<script type="text/javascript">
  function send() {
    FB.ui({
      method: 'send',
      link: 'https://jpking.herokuapp.com',
      to: 'jpp888'
    }, function(response) {});
  }
</script> -->