<div id="outside">
  <div id="car"></div>
  <div id="window"></div>
  <div id="car-logo"><span style="color: hotpink;"">JP</span><span style="color: white;">P8</span></div>
  <div id="money_on_car"><strong><%= @cart.total_benefit %></strong>元</div>
</div>