<div class="col-xs-12 top-tool">
  <div class="col-sm-6 col-xs-12 text-left">
    <%= pagination(3, @total_page) %>
  </div>
  <div class="col-sm-6 col-xs-12 text-right">
    每列顯示數量
    <% for i in [3,4,6] do %>
      <span><%= link_to "#{i}個", params.merge(rowCount:i) %></span>
    <% end %>
  </div>
</div>