<div id="crawl-result"></div>
<h4>貼上網址，例如：https://www.facebook.com/groups/BWCATGO/permalink/1716518145274091/</h4>
<%= form_for :post, url: crawl_posts_path, remote: true do |f| %>
  <%= f.text_field :url, style: "width:100%;" %>
  <%= f.submit '開始查詢' %>
<% end %>