<table class="table" style="margin: auto; width: 600px; height: 500px; text-align: center; vertical-align: middle;">
  <tbody>
    <tr class="title">
      <td></td>
      <td class="normal">豪華會員</td>
      <td class="premium">尊榮會員</td>
    </tr>
    <tr>
      <td>適用對象</td>
      <td>喜愛日貨的團購主</td>
      <td>長期經營的專業賣家</td>
    </tr>
    <tr>
      <td>刷卡服務</td>
      <td>2% 手續費</td>
      <td>1.8% 手續費</td>
    </tr>
    <tr>
      <td>含稅空運</td>
      <td>390 / 公斤</td>
      <td>370 / 公斤</td>
    </tr>
    <tr>
      <td>國內免運門檻</td>
      <td>5,000</td>
      <td>3,000</td>
    </tr>
    <tr>
      <td>代購大師</td>
      <td>無</td>
      <td>Coming soooooooooooon</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding: 0px;">
        <%= link_to "980 / 無限期", root_path, class:"btn btn-default account-btn normal", style: "width: 100%;" %>
        <span>採購累計達 20 萬，全額返還</span>
      </td>
      <td style="padding: 0px;">
        <%= link_to "3980 / 無限期", root_path, class:"btn btn-default account-btn premium", style: "width: 100%;" %>
        <span>採購累計達 50 萬，全額返還</span>
      </td>
    </tr>
  </tbody>
</table>