@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixin";
// @import "navbar";
@import "main";
@import "admin/products";

.btn-navs {
  .btn {
    width: 16.6666%;
    font-size: 20px;
    border-bottom: 1px solid #999;
    border-radius: 0px;
    color: #999;
    &.active {
      border: 1px solid #999;
      border-bottom: 0px;
      color: black;
      box-shadow: none;
    }
  }
  span.notification {
    border-radius: 99999px;
    background-color: red;
    padding: 0px 9px;
    color: white;
    font-size: 20px;
  }
}