<div class="clearfix">
<%= raw content[:title] %>
<%= image_tag content[:picture], style: "max-width: 100%; height: 200px;" %>
  <table class="table table-striped">
    <thead>
      <th>姓名</th>
      <th>數量</th>
    </thead>
    <tbody>
      <% content[:orders].each do |customer, text| %>
        <tr>
          <td><%= customer %></td>
          <td><%= raw text %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>