@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, h4, h5 {
  color: #54bd00;
}

h1.title {
  // border-right: 15px solid #54bd00;
  padding-bottom: 5px;
  margin-bottom: 20px;
  span {
    border: 3px solid;
    border-right: 15px solid;
    padding: 3px 16px;
    background-color: rgba(100,200,20,0.2);
  }
}

body, html {
  background-color: #0b0c0d;
}

div.tech {
  border: 1px solid #ffcb00;
  // height: 300px;
  padding: 0px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  div.title {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 203, 0, 0.4);
    width: 100%;
    color: #ffcb00;
  }
  div.content {
    padding: 10px 20px;
    color: #ffcb00;
    line-height: 24px;
  }
}

.btn-tech {
  border: 1px solid #ffcb00;
  // background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
  // -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
  // height: 100px;
  padding: 8px 6px;
  width: 100px;
  text-align: center;
  // margin: 0px 5px;
  // border-radius: 15px;
  &, & > a {
    color: #ffcb00;
  }
  &:hover {
    color: #ffcb00;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.btn-navs {
  .btn {
    width: 33.3333%;
    font-size: 26px;
    border-bottom: 1px solid #999;
    border-radius: 0px;
    color: #999;
    &.active {
      border: 1px solid #999;
      border-bottom: 0px;
      color: black;
      box-shadow: none;
    }
  }
  span.notification {
    border-radius: 99999px;
    background-color: red;
    padding: 0px 9px;
    color: white;
    font-size: 24px;
  }
}