/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "spinner";

html, body, h1, h2, h3, h4, h5 {
  font-family: 'HanHei TC','PingFang TC', 'Helvetica Neue', 'Helvetica', 'STHeitiTC-Light', 'Arial', sans-serif;
  font-weight: 300;
}

body {
  padding-bottom: 44px;
}

a:not(.btn) {
  &:visited {
    color: #337ab7;
  }
  &:hover {
    color: green;
    background-color: transparent;
  }
}

.text-on-image-card {
  margin-bottom: 30px;
  .text {
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
  }
}

[class*="col-"] {
  padding: 0px 4px;
}

.icon-large {
  font-size: 30px;
}

@media (min-width: 1200px) {
  .container {
      width: 970px;
  }
}

.block-title {
  margin-bottom: 10px;
  font-size: 24px;
}

img.img100 {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

.btn {
  &.btn-pink {
    background-color: pink;
    border: 2px solid white;
    color: white;
    &:hover {
      background-color: #FF8FA2;
    }
  }
  &.help {
    background-color: floralwhite;
    color: lightslategray;
    border: 2px solid lightslategray;
    &:hover {
      background-color: white;
    }
  }
}

.better-num {
  letter-spacing: 0.5px;
}

.no-space {
  font-size: 0px;
}

.btn-easier { padding: 12px 20px; }

hr.or_divider {
  margin: 30px 0px;
  color: #aaa;
  border-top: 1px solid #ddd;
  &::after {
    content: "或";
    top: -0.7em;
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 0px 10px;
    font-size: 16px;
  }
}

.hint {
  font-size: 14px;
}

.circle {
  border: 1px solid #337ab7;
  border-radius: 99999px;
  padding: 0px 3px;
}