// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-card {
  margin-bottom: 30px;
  text-align: center;
  // margin: 0px 4px;
  border: 1px solid pink;
  padding: 0px !important;
  &:hover {
    border-color: deeppink;
    .category-name {
      color: deeppink;
    }
  }
  .category-name {
    background: rgba(230,230,230,0.5);
    margin: 0;
    padding: 10px 10px;
    color: hotpink;
    font-size: 15px;
  }
}