#ad-main {
  display: flex;
  font-size: 0px;
  margin-bottom: 30px;
  #ad-event, #ad-products {
    padding: 0px;
    & > div.col-xs-4 {
      margin-bottom: 8px;
    }
    img {
      width: 100%; height: 100%;
    }
  }
  #ad-event {
    flex: 1;
    margin-left: 40px;
  }
  #ad-products { 
    flex: 2;
  }
}