@mixin divider($text) {
  margin: 30px 0px;
  color: #aaa;
  border-top: 1px solid #ddd;
  text-align: center;
  &::after {
    content: $text;
    top: -0.7em;
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 0px 10px;
    font-size: 16px;
  }
}

.flex-height {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
}