@import url(https://fonts.googleapis.com/css?family=Orbitron);
#navbar-customize {
  position: fixed;
  z-index: 9999;  
  width: 100%;
  background-color: mistyrose;
  border: none;
  border-radius: 0px;
  input[type="search"] {
    border: 2px solid pink;
    &:focus {
      box-shadow: none;
      border: 2px solid hotpink;
    }
  }
  // input {
  //   color: black;
  // }
  h1.navbar-brand {
    margin: 0px;
    // font-size: 30px;
    line-height: 33px;
    & > a {
      font-size: 0px; 
      &:hover, &:focus {
        text-decoration: none;
      }
      & > span {
        color: white;
        &.japan-logo-text {
          color: hotpink;
        }
        font-family: 'Orbitron', sans-serif;
        font-size: 46px;
      }
    }
  }
  .navbar-right {
    padding: 10px 15px;
  }
  .navbar-form {
    border: none;
  }
  .navbar-toggle {
    border: 2px solid white;
    span.icon-bar {
      background-color: white;
    }
  }

  li.active a {
    color: black;
    background-color: pink;
  }
}

@media only screen and (min-width: 768px) {
  #navbar-customize {
    top: 0px;
    margin-bottom: 10px;
  }
  .responsive.container {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 767px) {
  #navbar-customize {
    bottom: 0px;
    margin: 0px;
  }
  .responsive.container {
    margin: 10px 0px 60px 0px;
  }
}