@import url(https://fonts.googleapis.com/css?family=Orbitron);
#navbar-customize {
  position: fixed;
  z-index: 9999;  
  width: 100%;
  background-color: mistyrose;
  border: none;
  border-radius: 0px;
  input[type="search"] {
    border: 2px solid pink;
    // width: 400px;
    &:focus {
      box-shadow: none;
      border: 2px solid hotpink;
    }
  }
  
  .navbar-right {
    padding: 10px 15px;
    &.visible-xs {
      padding: 0px;
      margin: 0px -15px;
      font-size: 0px;
      .btn-3 {
        font-size: 18px;
        width: 33.333%;
        height: 50px;
        line-height: 38px;
        background-color: white;
        color: hotpink;
        border-top: 1px solid hotpink;
        border-bottom: 1px solid hotpink;
        border-right: 1px solid hotpink;
        border-radius: 0px;
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .navbar-form {
    border: none;
    margin: 10px 0px;
  }
  .navbar-toggle {
    border: 2px solid white;
    span.icon-bar {
      background-color: white;
    }
  }

  li.active a {
    color: black;
    background-color: pink;
  }
}

h1.navbar-brand {
  margin: 0px;
  // font-size: 30px;
  line-height: 33px;
  & > a {
    font-size: 0px; 
    &:hover, &:focus {
      text-decoration: none;
    }
    & > span {
      color: white;
      &.japan-logo-text {
        color: hotpink;
      }
      font-family: 'Orbitron', sans-serif;
      font-size: 46px;
    }
  }
}

.navbar-header.visible-xs {
  span {
    color: pink;
  }
}

#navbar-customize {
  form#product_search {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      padding: 0px;
    }
  }
  input[type="search"] {
    @media only screen and (min-width: 1024px) {
      width: 370px;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      width: 140px;
    }
    @media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
      width: 100px;
    }
  }
}

@media only screen and (min-width: 768px) {
  #navbar-customize {
    top: 0px;
    margin-bottom: 10px;
  }
  .responsive.container {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 767px) {
  #navbar-customize {
    bottom: 0px;
    margin: 0px;
  }
  .responsive.container {
    margin: 10px 0px 90px 0px;
  }
}