.add_to_cart.btn { color: white !important; }
@media only screen and (max-width: 480px) {
  .btn.add_to_cart {
    background-color: #FF8FA2;
    &:hover {
      background-color: #FF8FA2;
    }
  }
  #product-show-containter {
    .btn.add_to_cart {
      width: 100%;
      padding: 10px 16px;
      font-size: 20px;
    }
    span.add-to-cart-text {
      margin-left: 5px;
    }
  }
  #product-index-container {
    span.add-to-cart-text {
      display: none;
    }
    .btn.choose_variation {
      color: white;
      background-color: lightskyblue;
    }
  }
}

@media only screen and (min-width: 481px) {
  .btn.add_to_cart {
    background-color: pink;
  }
  #product-show-containter {
    .btn.add_to_cart {
      font-size: 20px;
      padding: 10px 16px;
    }
  }
  #product-index-container {
    .btn.add_to_cart, .btn.choose_variation {
      font-size: 14px;
      padding: 4px 6px;
    }
    .btn.choose_variation {
      color: white;
      background-color: lightskyblue;
    }
  }
}

.tool {
  #row-counts {
    padding: 20px 0px 20px 0px;
  }
}