a.add_to_cart.btn {
  background-color: pink;
  color: white;
  @media only screen and (max-width: 320px) {
    font-size: 18px;
    padding: 8px 12px;
  }
  @media only screen and (min-width: 321px) {
    font-size: 20px;
    padding: 10px 16px;
  }
  &:hover {
    background-color: #FF8FA2;
  }
}

.top.tool {
  #pagination, #row-counts {
    padding-top: 60px;
  }
}
.bottom.tool {
  #pagination, #row-counts {
    padding-bottom: 60px;
  }
}