// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .product-name > a {
//   overflow: hidden;
//   height: 15px;
//   display: block;
// }

::-webkit-scrollbar { 
  display: none; 
}

#product-index-container {
  .top-tool {
    margin-bottom: 20px;
  }

  .product-card {
    margin-bottom: 60px;
    .product-name {
      height: 31px;
      overflow-y: hidden;
    }
    .product-item-code {
      position: absolute;
      // top: 0px;
      top: 50%;
      color: white;
      margin: auto;
      // background-color: rgba(130,130,130,0.3);
      width: 100%;
      line-height: 30px;
      font-size: 20px;
      padding: 5px;
    }
    .our-price {
      font-size: 20px;
      color: hotpink;
    }
    .their-price {
      text-decoration: line-through;
    }
    .wish-and-cart {
      margin: auto;
    }
    &.col-xs-2 {
      .wish-and-cart a.btn {
        //font-size: 14px;
        margin-bottom: 5px;
      }
      .our-price {
        font-size: 16px;
      }
    }
    &.col-xs-4 {
      .wish-and-cart a.btn {
        font-size: 18px;
      }
    }
  }

  @media only screen and (min-width : 769px) {
    .left {
      position: fixed;
      height: 91%;
      overflow-x: auto;
      left: 0px;
      padding-left: 40px;
    }
    .right {
      position: fixed;
      height: 90%;
      overflow-x: auto;
      left: 25%;
      padding-right: 40px;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .col-xs-2 .product-show-images-container {
      min-height: 180px;
    }
    .col-xs-3 .product-show-images-container {
      min-height: 235px;
    }
    .col-xs-4 .product-show-images-container {
      min-height: 315px;
    }
  }

  @media only screen and (max-width: 480px) {
    .col-xs-2 .product-show-images-container {
      min-height: 55px;
    }
    .col-xs-3 .product-show-images-container {
      min-height: 86px;
    }
    .col-xs-4 .product-show-images-container {
      min-height: 117px;
    }
  }

}

////////////////////////////////////////// products#show
.product-main-image-container {  
  &.embed-container {
    margin: 20px 0px;
  }
}
.product-thumbs {
  border: 1px solid transparent;
  font-size: 13px;
  &:hover {
    border: 1px solid pink;
  }
}

#product-details-block {
  .detail {
    margin-top: 20px;
  }
  @media only screen and (min-width: 481px) {
    padding: 0px 0px 0px 70px;
  }
  .detail {
    & > h5 {
      padding-bottom: 3px; border-bottom: 1px solid #ddd;
    }
    & > p {
      font-size: 18px; margin-bottom: 20px;  
    }
  }
  .their-price {
    text-decoration: line-through;
  }
  .our-price {
    font-size: 34px;
    color: hotpink;
    font-weight: bold;
  }
}

#product-show-container {
  .product-images {
    margin-top: 50px;
    text-align: center;
    hr:last-child {
      display: none;
    }
  }
  .product-image {
    position: relative;
    .description-on-product-image {
      position: absolute;
      left: 5px;
      top: 25px;
      background: lightyellow;
      font-size: 30px;
    }
  }
}