// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .product-name > a {
//   overflow: hidden;
//   height: 15px;
//   display: block;
// }

#product-index-container {
  .top-tool {
    margin-bottom: 20px;
  }

  .product-card {
    margin-bottom: 60px;
    .product-name {
      height: 31px;
      overflow-y: hidden;
    }
    .product-item-code {
      position: absolute;
      // top: 0px;
      top: 50%;
      color: white;
      margin: auto;
      // background-color: rgba(130,130,130,0.3);
      width: 100%;
      line-height: 30px;
      font-size: 20px;
      padding: 5px;
    }
    .our-price {
      font-size: 20px;
      color: hotpink;
    }
    .their-price {
      text-decoration: line-through;
    }
    .wish-and-cart {
      margin: auto;
    }
    &.col-xs-2 {
      .wish-and-cart a.btn {
        //font-size: 14px;
        margin-bottom: 5px;
      }
    }
    &.col-xs-4 {
      .wish-and-cart a.btn {
        font-size: 18px;
      }
    }
  }



  @media only screen and (min-width : 768px) {
    .left {
      position: fixed;
      height: 91%;
      overflow-x: auto;
      left: 0px;
      padding-left: 40px;
    }
    .right {
      position: fixed;
      height: 90%;
      overflow-x: auto;
      left: 25%;
      padding-right: 40px;
    }
  }
  
  @media only screen and (max-width : 767px) {
      
  }
}

::-webkit-scrollbar { 
  display: none; 
}

// products#show

.product-thumbs {
  &:hover {
    border: 1px solid pink;
  }
}
#product-image-spinner {
  position: absolute;
}
#product-details-block {
  .detail {
    margin-top: 20px;
  }
  @media only screen and (min-width: 481px) {
    padding: 0px 0px 0px 70px;
  }
  .detail {
    & > h5 {
      padding-bottom: 3px; border-bottom: 1px solid #ddd;
    }
    & > p {
      font-size: 18px; margin-bottom: 20px;  
    }
  }
  .their-price {
    text-decoration: line-through;
  }
  .our-price {
    font-size: 34px;
    color: hotpink;
    font-weight: bold;
  }
}