<div>
  <!-- <div class="col-sm-3 col-xs-12 left">
    <%#= render "categories/categories" %>
  </div> -->
  <%= render "partials/main_ad" %>
  <div class="row">
    <%= render @categories %>
  </div>
</div>