<div class="col-xs-4">
  <img src="https://unsplash.it/500?image=1080">
</div>
<div class="col-xs-4">
  <img src="https://unsplash.it/500?image=885">
</div>
<div class="col-xs-4">
  <img src="https://unsplash.it/500?image=488">
</div>

<div class="col-xs-3">
  <img src="https://unsplash.it/500?image=635">
</div>
<div class="col-xs-3">
  <img src="https://unsplash.it/500?image=674">
</div>
<div class="col-xs-3">
  <img src="https://unsplash.it/500?image=835">
</div>
<div class="col-xs-3">
  <img src="https://unsplash.it/500?image=785">
</div>
<!-- 
<% @hot_products[0..2].each do |p| %>
  <div class="col-xs-4">
    <%= image_tag "https://unsplash.it/300?random", style: "width: 100%; height: 100%;", alt: p.name %>
  </div>
<% end %>
<% @hot_products[3..6].each do |p| %>
  <div class="col-xs-3">
    <%= image_tag "https://unsplash.it/300?random", style: "width: 100%; height: 100%;", alt: p.name %>
  </div>
<% end %>
-->