<div id="product-index-container">
  <% if @children.present? %>
    <% @children.each_slice(4) do |c4| %>
      <div class="row">
        <%= render partial:"categories/category", collection: c4, as: :category %>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <%= render 'partials/tool', position: "top" %>
    <%= render @products, rowCount: params[:rowCount].to_i %>
    <%= render 'partials/tool', position: "bottom" %>
  </div>
</div>