<div id="product-index-container">
  <!-- <div class="col-sm-3 col-xs-12 left">
    <%#= render "categories/categories" %>
  </div> -->
  <div class="row">
    <%= render 'top_tool' %>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div class="loading-content">
      <%= render @products, rowCount: params[:rowCount] %>
    </div>
  </div>
</div>